body{
  background-color: lightblue;
}
.DoApp{
  background-color: rgb(142, 192, 226);
  min-height: 600px;
  width: 350px;
  margin: 40px auto ;


}
#todoF input{
  background-color: rgb(247, 243, 238);
  border: 0;
  width: 200px;
  height: 40px;
  padding: 0 20px;
  margin: 20px ;
  border-radius: 6px;
  color: rgb(44, 40, 40);
  margin-top: 0;
}
#todoF input:focus,#todoF button:focus{
  outline: none;
}
#todoF button{
  height: 35px;
  width: 60px;
  border: 0;
  border-radius: 6px;
  background-color: blue ;
  font-weight: bolder;
  color: rgb(241, 239, 235);
  cursor: pointer;
}
#p1{
  text-align: center;
  font-family: serif;
  font-size: 30px;
  color: blue;
  padding: 16px;
}

